.section-title {
    font-size: 24px;
    font-weight: 400;
    color: var(--primary-dark);
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Distanca mes tekstit dhe vijave */
  }
  
  .section-title::before,
  .section-title::after {
    content: "";
    width: 250px;
    height: 1px;
    background-color: #dfd4d4;
  }
  
  
