@import url(variables.css);
@import url(common.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-white);
  font-family: "Poppins", sans-serif;
}

   .navbar {
     display: flex;
     height: 100px;
     align-items: center;
     justify-content: space-between;
     padding: 15px 50px;
   }
   
   .navbar-links {
     display: flex;
     list-style-type: none;
     gap: 30px;
   }
   
   .navbar-links a {
     text-decoration: none;
     color: #666872;
     font-size: 16px;
     transition: color 0.3s;
   }
   
   .navbar-links a:hover {
     color: var(--primary-red);
   }
   
   .navbar-logo {
     font-size: 25px;
     align-items: center;
     display: flex;
     gap: 10px;
     font-weight: bold;
   }
   
   .navbar-logo img {
     height: auto;
     width: 120px;
   }
   
   .navbar-logo .car {
     font-size: 30px;
     color: var(--primary-dark);
   }
   
   .navbar-logo .dealership {
     font-size: 20px;
     color: var(--primary-red);
   }
  
   /*Hero Section*/
   .hero {
     position: relative;
     max-width: 12000px;
     margin: 0 auto;
     height: 680px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
   }
   
   .hero-bg-text {
     position: absolute;
     top: 0;
     left: 50%;
     transform: translateX(-50%);
     font-size: 240px;
     line-height: 210px;
     color: #f4f4f4;
     z-index: -1;
   }
   
   .hero-left {
     margin-bottom: 270px !important;
     margin-left: 50px !important;
   }
   
   .hero-left h2 {
     margin-bottom: 5px;
     align-items: center;
     font-size: 50px;
     color: var(--primary-dark);
     text-shadow: 0px 5px 10px black,
        0px -5px 10px rgba(255, 255, 255, 0.8);
   }
   
   .hero-left div {
     display: flex;
     align-items: center;
     gap: 40px;
   }
   
   .hero-left div h1 {
     font-size: 75px;
     color: var(--primary-red);
     text-shadow: 0px 5px 10px black,
       /* Hije më e errët poshtë */ 0px -5px 10px rgba(255, 255, 255, 0.8); /* Hije e bardhë sipër */
   }
   
   .hero-left .order-now {
     background-color: var(--primary-dark);
     color: var(--primary-white);
     padding: 10px 20px;
     border-radius: 100px;
     text-decoration: none;
     transition: 0.2 all ease;
   }
   
   .hero-left .order-now span {
     margin-left: 10px;
   }
   
   .hero-left .order-now:hover {
     background: var(--primary-red);
   }
   
   .hero-right {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
   }
   
   .hero-right .hero-right-top {
     display: flex;
     align-items: center;
   }
   
   .hero-right .hero-right-top img {
     height: 375px;
     margin-bottom: 200px !important;
     margin-left: 80px;
   }
   
   .hero .hero-right-top .dots {
     display: flex;
     flex-direction: column;
     gap: 20px;
   }
   
   .hero .hero-right-top .dot {
     background-color: #d3d5e0;
     width: 10px;
     height: 10px;
     border-radius: 50%;
     cursor: pointer;
   }
   
   .hero .hero-right-top .dot.active {
     background-color: var(--primary-red);
   }
   
   .hero-right-bottom {
     position: absolute;
     top: 66%;
     display: flex;
     justify-content: center;
     gap: 20px;
   }
   
   .hero-right .hero-right-bottom button {
     margin-left: 16px;
     background-color: #fff;
     height: 45px;
     width: 45px;
     border-radius: 50%;
     border: none;
     box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
     cursor: pointer;
     margin-top: -60px !important;
   }
   
   
   .hero .hero-filter {
     width: 745px;
     height: 100px;
     background-color: #fff;
     border-radius: 100px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 28px;
     box-shadow: 0 30px 80px rgba(0, 0, 0, 0.04);
     margin-top: -285px !important;
   }
   
   .hero .hero-filter .select p {
     font-size: 14px;
     color: #d3d5e0;
     cursor: pointer;
     font-family: sans-serif;
   }
   
   .hero .hero-filter .select span {
     color: var(--primary-dark);
     font-family: "poppins" sans-serif;
   }
   
   .hero .hero-filter .filter-search {
     background-color: var(--primary-red);
     color: var(--primary-white);
     font-size: 24px;
     padding: 10px;
     border-radius: 50%;
     border: none;
     cursor: pointer;
     transition: 0.3s all ease;
   }
   
   .hero .hero-filter .filter-search:hover {
     background-color: var(--primary-dark);
   }
   
   /* Brand Section */
   
   .brands-section {
     text-align: center;
     padding: 50px 0;
     margin-bottom: 60px;
   }
   
   .brands-container {
     display: flex;
     justify-content: center;
     gap: 50px;
     flex-wrap: wrap;
     margin-top: 60px;
   }
   
   .brands-container img {
     height: 130px;
     opacity: 0.7;
     transition: 0.5s all ease;
   }
   
   .brands-container img:hover {
     opacity: 1;
   }
   
   /* Explore Section */
   
   .explore-section {
     padding: 75px 0;
     background-color: #eaebf0;
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   
   .explore-section .categories {
     display: flex;
     justify-self: center;
     gap: 20px;
     margin: 30px 0;
   }
   
   .explore-section .category {
     color: #666872;
     padding: 10px 18px;
     border: none;
     border-radius: 20px;
     cursor: pointer;
     font-weight: 600;
     font-size: 15px;
   }
   
   .explore-section .category.active {
     background-color: var(--primary-red);
     color: #fff;
   }
   
   .explore-section .cards-container {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 30px;
     width: 1200px;
   }
   
   .explore-section .cards-container .card {
     background-color: #fff;
     border-radius: 15px;
     padding: 16px 23px 31px 16px;
     width: fit-content;
     margin-left: auto;
   }
   
   .explore-section .cards-container .card .card-header h3 {
     font-size: 24px;
     font-weight: 400;
     color: var(--primary-dark);
   }
   
   .explore-section .cards-container .card .card-header p {
     font-size: 14px;
     color: #666872;
   }
   
   .explore-section .cards-container .card-content {
     position: relative;
     padding-left: 20px;
     margin-top: 34px;
   }
   
   .explore-section .cards-container .card .card-content .image {
     width: 300px;
     height: 227px;
     border-radius: 15px;
     overflow: hidden;
     position: absolute;
     z-index: 10;
     left: -327px; 
     background-color: #a9a9a9;
     display: flex;
     align-items: center;
     justify-content: center;
   }
   
   .explore-section .cards-container .card .card-content .image img {
     max-width: 100%;
     max-height: 100%;
   }
   
   .explore-section .cards-container .card .card-content ul {
     list-style: none;
     width: 215px;
     margin-bottom: 40px; 
   }
   
   .explore-section .cards-container .card .card-content ul li {
     display: flex;
     justify-content: space-between;
     margin-bottom: 15px;
     color: var(--primary-dark);
   }
   
   .explore-section .cards-container .card .card-content ul li span {
     color: #666872;
   }
   
   .explore-section .cards-container .card .card-content .price {
     margin-top: 0; 
     font-size: 24px;
     font-weight: 400;
     color: var(--primary-dark);
   }
   
   .explore-section .cards-container .card .card-content .button-container {
     margin-top: 30px; 
   }
   
   .explore-section .cards-container .card .card-content .order-btn {
     background-color: var(--primary-dark);
     color: #fff;
     border-radius: 100px;
     border: none;
     padding: 9px 17px;
     font-weight: 500;
     width: 100%;
     cursor: pointer;
     transition: 0.3s all ease;
   }
   
   .explore-section .cards-container .card .card-content .order-btn:hover {
     background-color: var(--primary-red);
   }
   
   /* 6. About Us Section */
   
   .about-us {
     padding: 43px 20px 73px 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     text-wrap: balance;
   }
   
   .about-us .description {
     font-size: 22px;
     color: #666872;
     max-width: 1200px;
   }
   
   .about-us .description .slogan {
     margin-top: 58px;
     margin-bottom: 32px;
   }
   
   /*7. Video Section*/
   
   .video-section {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #eaebf0;
     padding-top: 60px;
     padding-bottom: 125px;
     gap: 70px;
   }
   
   .video-section iframe {
     aspect-ratio: 16 / 9;
     max-width: 1200px;
     width: 754px;
     height: auto;
     border-radius: 20px;
   }
   
   /* Contact Us Section */
   
   .email-section {
     padding: 60px 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
   }
   
   .email-content {
     display: flex;
     justify-content: space-between;
     align-items: center;
     max-width: 850px;
     margin: 30px auto;
     gap: 20px;
   }
   
   .email-image img {
     width: 509px;
     height: 339px;
     border-radius: 10px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   }
   
   .email-form {
     flex: 1;
     display: flex;
     flex-direction: column;
     gap: 15px;
   }
   
   .email-form input,
   .email-form textarea {
     width: 345px;
     height: 30px;
     padding-left: 10px;
     border-radius: 5px;
     border: 1px solid #ccc;
   }
   
   .email-form textarea {
     height: 100px;
   }
   
   .email-form button {
     padding: 10px 25px;
     width: fit-content;
     background-color: var(--primary-red);
     color: #fff;
     border: none;
     border-radius: 50px;
     cursor: pointer;
     transition: 0.3s all ease;
   }
   
   .email-form button:hover {
     background-color: var(--primary-dark);
   }
   
   /*  Footer Section */
   
   .footer-section {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }
   
   .footer-container {
     background-color: #e7e8ed;
     display: flex;
     justify-content: center;
     padding: 50px;
     width: 100%;
     height: auto;
   }
   
   .footer-container .wrapper {
     max-width: 1200px;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
   
   .newsletter h4 {
     font-size: 16px;
     font-weight: 700;
     color: var(--primary-dark);
   }
   
   .input-group {
     display: flex;
     margin-top: 23px;
     background-color: #fff;
     border-radius: 100px;
     padding: 5px;
     width: 400px;
   }
   
   .input-group input {
     padding: 15px;
     border-radius: 50px 0 0 50px;
     border: none;
     outline: none;
     flex: 1;
   }
   
   .input-group button {
     background-color: var(--primary-red);
     color: #fff;
     border: none;
     width: 50px;
     height: 50px;
     border-radius: 50px;
     cursor: pointer;
   }
   
   .social-icons {
     margin-top: 20px;
   }
   
   .social-icons a {
     margin: 0 5px;
     font-size: 24px;
     color: #444;
   }
   
   .links {
     display: flex;
     justify-content: space-between;
     width: 100%;
     max-width: 1200px;
     margin-top: 20px;
   }
   
   .column h4 {
     font-size: 16px;
     font-weight: 700;
     color: #222;
   }
   
   .column ul {
     list-style: none;
     padding: 0;
   }
   
   .column ul li {
     margin: 14px 0;
   }
   
   .column ul li a {
     color: #555;
     text-decoration: none;
   }
   
   .column ul li a:hover {
     color: var(--primary-red);
   }
   
   .footer-bottom {
     padding: 10px 0;
     color: #777;
     max-width: 1200px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
   }
   
   .footer-bottom a {
     color: #555;
     text-decoration: none;
   }
   
   .footer-bottom a:hover {
     color: var(--primary-red);
   }
   
   #cars-container {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
   }
   
   #cars-container div {
     display: inline-block;
     margin: 10px;
     padding: 10px;
     border: 1px solid #ddd;
     border-radius: 10px;
     cursor: pointer;
   }
   
   #cars-container img {
     width: 150px;
     height: 100px;
     object-fit: cover;
   }
   